.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 14.0351px 0px 25px rgba(86, 128, 248, 0.03), 35.0877px 0px 70px rgba(86, 128, 248, 0.05), 23.8596px 5.61404px 50px rgba(0, 0, 0, 0.02)
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
}

.text-header {
    font-size: 20px;
    color: white;
}

.title-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(112, 124, 151, 0.5);
}

.title_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    border-right: 1px solid rgba(112, 124, 151, 0.5);
    color: #707C97;
}

.title_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #707C97;
}

.titles p {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}

.list-pros {
    display: flex;
    width: 51.4%;
    height: auto;
    border-right: 1px solid rgba(112, 124, 151, 0.5);
}

.list-cons {
    display: flex;
    width: 50%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05), 2px 2px 10px rgba(112, 124, 151, 0.1), 1px 1px 50px rgba(112, 124, 151, 0.15);
    background-color: none
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #B7BDCB;
    width: 8px;
    border-radius: 10px;
}